.weather {
  display: none;
  margin: 50px 0 50px 90px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
}

.date {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.weather__temp {
  display: flex;
  align-items: flex-end;
}

.weather__temp p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 306px;
  line-height: 373px;
  text-transform: uppercase;
  margin: 0;
}

.weather__temp ul {
  margin-bottom: 65px;
}

.weather__temp ul li {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  text-transform: uppercase;
  list-style-type: none;
}