.weather {
  margin: 50px 0 50px 90px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
}