
@keyframes ldio-7kyt0o9nx1t {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.23,1.23);
  } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
}
.ldio-7kyt0o9nx1t div > div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #cdd5da;
  animation: ldio-7kyt0o9nx1t 1s linear infinite;
}.ldio-7kyt0o9nx1t div:nth-child(1) > div {
   left: 152px;
   top: 90px;
   animation-delay: -0.9166666666666666s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 162px 100px;
}.ldio-7kyt0o9nx1t div:nth-child(2) > div {
   left: 144px;
   top: 121px;
   animation-delay: -0.8333333333333334s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(2) {
  transform: rotate(30deg);
  transform-origin: 154px 131px;
}.ldio-7kyt0o9nx1t div:nth-child(3) > div {
   left: 121px;
   top: 144px;
   animation-delay: -0.75s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(3) {
  transform: rotate(60deg);
  transform-origin: 131px 154px;
}.ldio-7kyt0o9nx1t div:nth-child(4) > div {
   left: 90px;
   top: 152px;
   animation-delay: -0.6666666666666666s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(4) {
  transform: rotate(90deg);
  transform-origin: 100px 162px;
}.ldio-7kyt0o9nx1t div:nth-child(5) > div {
   left: 59px;
   top: 144px;
   animation-delay: -0.5833333333333334s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(5) {
  transform: rotate(120deg);
  transform-origin: 69px 154px;
}.ldio-7kyt0o9nx1t div:nth-child(6) > div {
   left: 36px;
   top: 121px;
   animation-delay: -0.5s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(6) {
  transform: rotate(150deg);
  transform-origin: 46px 131px;
}.ldio-7kyt0o9nx1t div:nth-child(7) > div {
   left: 28px;
   top: 90px;
   animation-delay: -0.4166666666666667s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(7) {
  transform: rotate(180deg);
  transform-origin: 38px 100px;
}.ldio-7kyt0o9nx1t div:nth-child(8) > div {
   left: 36px;
   top: 59px;
   animation-delay: -0.3333333333333333s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(8) {
  transform: rotate(210deg);
  transform-origin: 46px 69px;
}.ldio-7kyt0o9nx1t div:nth-child(9) > div {
   left: 59px;
   top: 36px;
   animation-delay: -0.25s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(9) {
  transform: rotate(240deg);
  transform-origin: 69px 46px;
}.ldio-7kyt0o9nx1t div:nth-child(10) > div {
   left: 90px;
   top: 28px;
   animation-delay: -0.16666666666666666s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(10) {
  transform: rotate(270deg);
  transform-origin: 100px 38px;
}.ldio-7kyt0o9nx1t div:nth-child(11) > div {
   left: 121px;
   top: 36px;
   animation-delay: -0.08333333333333333s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(11) {
  transform: rotate(300deg);
  transform-origin: 131px 46px;
}.ldio-7kyt0o9nx1t div:nth-child(12) > div {
   left: 144px;
   top: 59px;
   animation-delay: 0s;
 }
.ldio-7kyt0o9nx1t > div:nth-child(12) {
  transform: rotate(330deg);
  transform-origin: 154px 69px;
}
.loadingio-spinner-spin-z90dtkq07m {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
.ldio-7kyt0o9nx1t {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7kyt0o9nx1t div { box-sizing: content-box; }