@import "src/components/app/app";
@import "src/components/header/header";
@import "src/components/map/map";
@import "src/components/weather/weather";
@import "src/components/future/future";
@import "src/components/spiner/spinner";